# Port number
PORT=3001

#App base url
BASE_URL=http://127.0.0.1:3001/

#Dev Status
NODE_ENV=development

# Database Property
# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/node-boilerplate
DB_URL=<DIALECT>://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:3306/<DB_NAME>
DB_HOST=localhost
DB_NAME=test_db
DB_USER=test
DB_PASSWORD=test
DIALECT=mysql

# JWT
# JWT secret key
JWT_SECRET=secret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=10
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

SMTP_USERNAME=user@gmail.com
SMTP_PASSWORD=password
